<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum Wigglytuff learned Defense Curl. Kadabra evolved into Alakazam. Metapod learned Harden. Muk is a Sludge Pokémon. You can earn the Fog Badge at Ecruteak Gym. Dragon Tamer gave a Durin Berry to Gyarados. Rhydon evolved into Rhyperior. The leader at Fortree Gym specializes in Flying Pokémon.</h1>
</body>
</html>